body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #282828;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

header {
    background-image: url('img/images.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    height: 300px; /* Defina a altura desejada do header */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombras no texto para destacar sobre a imagem */
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #282828;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    max-width: 400px;
}

button {
    margin-top: 15px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: #282828;
    color: white;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #575757;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282828;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
